@import "tailwindcss";

:root {
  --background: #050914;
  --foreground: #ffffff;

  --gold: #d4af37;
  --burgundy: #7a1f3d;
  --soft-burgundy: #a04565;
}

body {
  background: linear-gradient(
    to bottom,
    #050914,
    #0b1220,
    #130914
  );

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gold-text {
  color: var(--gold);
}

.gold-bg {
  background-color: var(--gold);
}

.burgundy-bg {
  background-color: var(--burgundy);
}